<div class="edit-order">
  <div class="edit-order__top">
    <section class="edit-order__id">
      <header class="edit-order__id__header">
        <h2>ID</h2>
      </header>
      <main class="edit-order__id__content">
        <h2>{{ order?.orderNumber }}</h2>
      </main>
    </section>
    <section class="edit-order__client-data">
      <header class="edit-order__client-data__header">
        <h2>Datos del cliente</h2>
      </header>
      <main class="edit-order__client-data__content" [formGroup]="clientForm">
        <form-item [properties]="['nowrap']">
          <form-field name="Documento">
            <input type="text" formControlName="document" />
          </form-field>
          <form-field name="Nombre">
            <input type="text" formControlName="name" />
          </form-field>
          <form-field name="Apellido">
            <input type="text" formControlName="lastName" />
          </form-field>
          <form-field name="Dirección">
            <input type="text" formControlName="address" />
          </form-field>
          <form-field name="Teléfono">
            <input type="text" formControlName="phoneNumber" />
          </form-field>
          <form-field name="Correo">
            <input type="text" formControlName="email" />
          </form-field>
        </form-item>
      </main>
    </section>
  </div>
  <div class="edit-order__upper">
    <section class="edit-order__modal-actions">
      <button routerLink="/home">
        <span>Regresar</span>
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#back"></use>
        </svg>
      </button>
      <button (click)="handleModal('showSaleModal')">
        <span>Tipo de venta</span>
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#open"></use>
        </svg>
      </button>
      <button (click)="handleModal('showBenefitModal')">
        <span>Beneficios</span>
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#open"></use>
        </svg>
      </button>
      <button (click)="handlePrint()">
        <span>Imprimir</span>
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#print"></use>
        </svg>
      </button>
    </section>
  </div>
  <div class="edit-order__lower">
    <section class="edit-order__article-list">
      <header class="edit-order__article-list__header">
        <h2>Artículos</h2>
      </header>
      <main class="edit-order__article-list__content">
        @if (displayItems.length > 0) {
          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>
                    <checkbox
                      class="checkbox"
                      [checked]="isAllSelected"
                      (checkedChange)="onSelectAll()"
                    ></checkbox>
                  </th>
                  <th>Modelo</th>
                  <th>Nombre</th>
                  <th>Marca</th>
                  <th>Estilo</th>
                  <th>Subtotal</th>
                  <th>Cantidad</th>
                  <th>Stock</th>
                </tr>
              </thead>
              <tbody>
                @for (displayItem of displayItems; track $index) {
                  <tr>
                    <td>
                      <checkbox
                        class="checkbox"
                        [(checked)]="displayItem.selected!"
                      ></checkbox>
                    </td>
                    <td>{{ displayItem.model }}</td>
                    <td>{{ displayItem.name }}</td>
                    <td>{{ displayItem.brand }}</td>
                    <td>{{ displayItem.style }}</td>
                    <td>{{ displayItem.price }}</td>
                    <td>{{ displayItem.quantity }}</td>
                    <td>{{ displayItem.stock }}</td>
                  </tr>
                }
              </tbody>
              <tfoot>
                <td colspan="12">
                  <form-item [properties]="['has-button']">
                    <button
                      type="button"
                      [style]="isAnyItemSelected ? null : disabledStyle"
                      (click)="handleModal('showDeleteModal')"
                    >
                      Eliminar
                    </button>
                  </form-item>
                </td>
              </tfoot>
            </table>
          </div>
        } @else {
          <div class="empty-list">
            <h2>No hay ningún articulo ingresado</h2>
          </div>
        }
      </main>
    </section>
    <section class="edit-order__billing">
      <header class="edit-order__billing__header">
        <h2>Facturación</h2>
      </header>
      <main class="edit-order__billing__content" [formGroup]="orderForm">
        <form-item>
          <form-field name="Tipo de pago (seña)" [style.width]="'50%'">
            <select formControlName="depositType">
              <option value="">Selecciona una opción</option>
              @for (type of paymentTypes; track $index) {
                <option [ngValue]="type">
                  {{ paymentTypeToString[type] }}
                </option>
              }
            </select>
          </form-field>
          <form-field name="Tipo de pago (importe)" [style.width]="'50%'">
            <select formControlName="paymentType">
              <option value="">Selecciona una opción</option>
              @for (type of paymentTypes; track $index) {
                <option [ngValue]="type">
                  {{ paymentTypeToString[type] }}
                </option>
              }
            </select>
          </form-field>
        </form-item>
        <form-item>
          <form-field name="Seña" [style.width]="'50%'">
            <input type="number" formControlName="deposit" min="0" />
          </form-field>
          <form-field name="Descuento" [style.width]="'50%'">
            <input type="number" formControlName="discount" min="0" />
          </form-field>
        </form-item>
        <form-item>
          <form-field name="Costo" [style.width]="'50%'">
            <input type="number" formControlName="cost" min="0" />
          </form-field>
          <form-field name="Total" [style.width]="'50%'">
            <input type="number" formControlName="total" min="0" />
          </form-field>
        </form-item>
        <form-item>
          <form-field name="Importe" [style.width]="'50%'">
            <input type="number" formControlName="paymentAmount" min="0" />
          </form-field>
          <form-field name="Saldo" [style.width]="'50%'">
            <input type="number" formControlName="balance" min="0" />
          </form-field>
        </form-item>
      </main>
    </section>
  </div>
  <div class="edit-order__tile">
    <section class="edit-order__benefits">
      <header class="edit-order__benefits__header">
        <h2>Beneficios</h2>
      </header>
      <main
        class="edit-order__benefits__content"
        [style.padding]="appliedBenefits.length === 0 ? '0' : null"
      >
        @for (benefit of appliedBenefits; track $index) {
          <div class="edit-order__benefits__content__benefit-bean">
            <h2>{{ benefit.name }}</h2>
            <button (click)="onRemoveBenefit(benefit)">
              <svg width="24" height="24">
                <use xlink:href="../../../assets/icons/icons.svg#cancel"></use>
              </svg>
            </button>
          </div>
        } @empty {
          <div class="empty-list">
            <h2>No hay ningún beneficio aplicado</h2>
          </div>
        }
      </main>
    </section>
    <section class="edit-order__actions">
      <button (click)="onDeleteOrder()">Eliminar</button>
      <button (click)="onSendPrescriptions()">Actualizar</button>
    </section>
  </div>
</div>

<modal
  [showModal]="showSaleModal"
  (selectedOption)="onSelect($event)"
  (closeModal)="handleModal('showSaleModal')"
>
  @if (selectedSale === "CONTACT_LENSES") {
    <form-item>
      <form-field name="Lentes de contacto">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('other')"
          [filters]="{ type: 'ContactLenses' }"
        ></search-select>
      </form-field>
    </form-item>
  }

  @if (selectedSale === "SERVICE") {
    <form-item>
      <form-field name="Servicio">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('other')"
          [filters]="{ type: 'Service' }"
        ></search-select>
      </form-field>
    </form-item>
  }

  @if (selectedSale === "HEARING_AID") {
    <form-item>
      <form-field name="Audífonos">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('other')"
          [filters]="{ type: 'HearingAid' }"
        ></search-select>
      </form-field>
    </form-item>
  }

  @if (selectedSale === "ACCESSORY") {
    <form-item>
      <form-field name="Accesorio">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('other')"
          [filters]="{ type: 'Accessory' }"
        ></search-select>
      </form-field>
    </form-item>
  }

  @if (selectedSale === "SUNGLASSES") {
    <form-item>
      <form-field name="Lentes de sol">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('frame')"
          [filters]="{ type: 'Frame', isSunglasses: true }"
        ></search-select>
      </form-field>
    </form-item>
  }

  @if (selectedSale === "LENSES") {
    <form-item [properties]="['nowrap', 'center-block']">
      <form-field
        [style.width]="'100%'"
        [properties]="['block', toggleForm === 'FAR' ? 'active' : '']"
        [name]="'Para lejos'"
        (click)="toggleForm = 'FAR'"
      >
      </form-field>
      <form-field
        [style.width]="'100%'"
        [properties]="['block', toggleForm === 'NEAR' ? 'active' : '']"
        [name]="'Para cerca'"
        (click)="toggleForm = 'NEAR'"
      ></form-field>
    </form-item>

    @if (toggleForm === "FAR") {
      <prescription [formGroup]="farAndNearForms.far" type="FAR">
      </prescription>
    } @else {
      <prescription
        [formGroup]="farAndNearForms.near"
        type="NEAR"
      ></prescription>
    }
    <form-item>
      <form-field name="Add">
        <div>
          <input
            type="number"
            value="0"
            min="0"
            max="8"
            [style.width]="'60px'"
            [formControl]="addition"
          />
        </div>
      </form-field>
    </form-item>

    <form-item>
      <form-field name="Tipo de cristal">
        <select [formControl]="selectedLensType" [style.width]="'50%'">
          <option value="">Selecciona un tipo de cristal</option>
          <option value="MONOFOCAL_CERCA">MONOFOCAL (CERCA)</option>
          <option value="MONOFOCAL_LEJOS">MONOFOCAL (LEJOS)</option>
          <option value="BIFOCAL">BIFOCAL</option>
          <option value="MULTIFOCAL">MULTIFOCAL</option>
        </select>
      </form-field>
    </form-item>

    <form-item>
      <form-field name="Armazón">
        <div>
          <search-select
            [reset$]="resetSubject$.asObservable()"
            [control]="getControl('frame')"
            [filters]="{ type: 'Frame', isSunglasses: false }"
          ></search-select>
          <button
            (click)="handleModal('showDetailDrag')"
            [style]="isFrameDisabled ? disabledStyle : null"
            [disabled]="isFrameDisabled"
          >
            Detalles
          </button>
        </div>
      </form-field>
    </form-item>

    <form-item>
      <form-field name="Cristal izquierdo" [style.width]="'50%'">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('lens1')"
          [filters]="{ type: 'Lenses' }"
        ></search-select>
      </form-field>
      <form-field name="Cristal derecho" [style.width]="'50%'">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('lens2')"
          [filters]="{ type: 'Lenses' }"
        ></search-select>
      </form-field>
    </form-item>

    <form-item>
      <form-field name="Tratamiento">
        <search-select
          [reset$]="resetSubject$.asObservable()"
          [control]="getControl('other')"
          [filters]="{ type: 'Treatment' }"
        ></search-select>
      </form-field>
    </form-item>

    <form-item [formGroup]="prescriptionForm">
      <form-field name="Observaciones">
        <textarea formControlName="observations"></textarea>
      </form-field>
    </form-item>

    <form-item [formGroup]="orderForm">
      <form-field name="Doctor">
        <select formControlName="doctor">
          <option value="">Seleccionar un Doctor</option>
          @for (doctor of doctors; track $index) {
            <option [value]="doctor._id">{{ doctor.name }}</option>
          }
        </select>
      </form-field>
    </form-item>
  }

  @if (selectedSale !== "") {
    <form-item [properties]="['has-button']">
      <button (click)="onAdd()" [style.margin-bottom]="'15px'">Agregar</button>
    </form-item>
  }
</modal>

<modal
  [showModal]="showBenefitModal"
  [benefitModal]="true"
  (closeModal)="handleModal('showBenefitModal')"
>
  <form-item>
    <form-field name="Beneficio">
      <select [formControl]="selectedBenefit">
        <option value="">Seleccionar beneficio</option>
        @for (benefit of benefits; track $index) {
          @if (benefit.isActive) {
            <option [ngValue]="benefit">
              {{ benefit.name }} ({{ benefit.discountedValue }} pesos)
            </option>
          }
        }
      </select>
    </form-field>
  </form-item>
  <form-item [properties]="['has-button']">
    <button (click)="onAddBenefit()">Agregar</button>
  </form-item>
</modal>

<confirm-modal
  [title]="'Confirmar eliminación'"
  [message]="
    '¿Estas seguro de que quieres eliminar esto? Esta acción no se puede deshacer.'
  "
  [cancelText]="'No, consérvalo'"
  [confirmText]="'Si, estoy seguro'"
  [showModal]="showDeleteModal"
  (closeModal)="handleDeleteModal($event)"
></confirm-modal>

@if (showDetailDrag) {
  <div class="detail-draggable" cdkDrag>
    <header cdkDragHandle>
      <h2>Detalles (armazón propio)</h2>
      <button (click)="handleModal('showDetailDrag')">
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#cancel"></use>
        </svg>
      </button>
    </header>
    <main [formGroup]="detailsForm">
      <form-item>
        <form-field name="Material" [style.width]="'33%'">
          <input type="text" formControlName="material" />
        </form-field>
        <form-field name="Forma" [style.width]="'33%'">
          <input type="text" formControlName="shape" />
        </form-field>
        <form-field name="Tipo de armazón" [style.width]="'33%'">
          <input type="text" formControlName="frameType" />
        </form-field>
      </form-item>
      <form-item>
        <form-field name="Calibre" [style.width]="'50%'">
          <input type="text" formControlName="caliber" />
        </form-field>
        <form-field name="Puente" [style.width]="'50%'">
          <input type="text" formControlName="bridge" />
        </form-field>
      </form-item>
      <form-item>
        <form-field name="Diagonal mayor" [style.width]="'50%'">
          <input type="text" formControlName="majorDiagonal" />
        </form-field>
        <form-field name="Altura de aro" [style.width]="'50%'">
          <input type="text" formControlName="arcHeight" />
        </form-field>
      </form-item>
    </main>
  </div>
}

<modal
  [showModal]="showPrintModal"
  [printableOrder]="true"
  (closeModal)="handlePrint()"
>
  <div id="print">
    <ng-container *ngFor="let _ of [1, 2]; let i = index">
      <div class="receipt">
        <div class="receipt__copy-header">
          @if (i === 0) {
            <span>COPIA CLIENTE</span>
          } @else {
            <span>COPIA LOCAL</span>
          }
        </div>
        <header class="receipt__header">
          <span class="receipt-number">{{ receiptNumber }}</span>
          <div class="receipt__header__summary">
            <img
              [src]="
                windowLocation +
                '/../../../assets/images/nueva-vision-logo-black.webp'
              "
              alt="Nueva Vision"
            />
            <div class="receipt__row"><span>[SUCURSAL]</span></div>
            <div class="receipt__row">
              <span>Cliente:</span>
              <span>
                {{ clientForm.get("name")?.value }}
                {{ clientForm.get("lastName")?.value }}
              </span>
            </div>
            <div class="receipt__row">
              <span>IMPORTE $</span>
              <span>{{ this.orderForm.get("paymentAmount")?.value }}</span>
            </div>
            <div class="receipt__row">
              <span>SEÑA $</span>
              <span>{{ this.orderForm.get("deposit")?.value }}</span>
            </div>
            <div class="receipt__row">
              <span>DESCUENTO $</span>
              <span>{{ this.orderForm.get("discount")?.value }}</span>
            </div>
            <div class="receipt__row">
              <span>SALDO $</span>
              <span>{{ this.orderForm.get("balance")?.value }}</span>
            </div>
          </div>
          <div class="receipt__header__foot">
            <span class="date">{{ today | date: "dd/MM/yyyy" }}</span>
            <span class="receipt-number">{{ receiptNumber }}</span>
          </div>
          <div class="receipt__owner">
            <div class="receipt__row">
              <span>Atendido por:</span>
            </div>
            <div class="receipt__row">
              <span>{{ this.user.username }}</span>
            </div>
            <div class="receipt__row">
              <span>{{ today | date: "dd/MM/yyyy:HH:MM:SS" }}</span>
            </div>
          </div>
        </header>
        <section class="receipt__client-info">
          <div class="receipt__row">
            <span>NOMBRE:</span>
            <span>
              {{ clientForm.get("name")?.value }}
              {{ clientForm.get("lastName")?.value }}
            </span>
          </div>
          <div class="receipt__row">
            <span>TELÉFONO:</span>
            <span>
              {{ this.clientForm.get("phoneNumber")?.value }}
            </span>
          </div>
          <div class="receipt__row">
            <span>DOCUMENTO:</span>
            <span>
              {{ this.clientForm.get("document")?.value }}
            </span>
          </div>
          <div class="receipt__row">
            <span>DIRECCIÓN:</span>
            <span>
              {{ this.clientForm.get("address")?.value }}
            </span>
          </div>
        </section>

        @if (this.subOrders.length > 0 && i === 1) {
          <section class="receipt__recipes">
            <h2>RECETAS</h2>
            <div class="receipt__recipes__content">
              @for (order of subOrders; track $index) {
                <table class="receipt__recipes__content__table">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>ESF</th>
                      <th>CIL</th>
                      <th>EJE</th>
                      <th>AP</th>
                      <th>DI</th>
                    </tr>
                  </thead>
                  <tbody>
                    @if (order.prescription.far) {
                      <tr>
                        <td rowspan="2">Lejos</td>
                        <td>OD</td>
                        <td>{{ order.prescription.far.rightEye.spherical }}</td>
                        <td>
                          {{ order.prescription.far.rightEye.cylindrical }}
                        </td>
                        <td>{{ order.prescription.far.rightEye.axis }}</td>
                        <td>
                          {{ order.prescription.far.rightEye.pupilHeight }}
                        </td>
                        <td>
                          {{ order.prescription.far.rightEye.pupilDistance }}
                        </td>
                      </tr>
                      <tr>
                        <td>OI</td>
                        <td>{{ order.prescription.far.leftEye.spherical }}</td>
                        <td>
                          {{ order.prescription.far.leftEye.cylindrical }}
                        </td>
                        <td>{{ order.prescription.far.leftEye.axis }}</td>
                        <td>
                          {{ order.prescription.far.leftEye.pupilHeight }}
                        </td>
                        <td>
                          {{ order.prescription.far.leftEye.pupilDistance }}
                        </td>
                      </tr>
                    }
                    @if (order.prescription.near) {
                      <tr>
                        <td rowspan="2">Cerca</td>
                        <td>OD</td>
                        <td>
                          {{ order.prescription.near.rightEye.spherical }}
                        </td>
                        <td>
                          {{ order.prescription.near.rightEye.cylindrical }}
                        </td>
                        <td>{{ order.prescription.near.rightEye.axis }}</td>
                        <td>
                          {{ order.prescription.near.rightEye.pupilHeight }}
                        </td>
                        <td>
                          {{ order.prescription.near.rightEye.pupilDistance }}
                        </td>
                      </tr>
                      <tr>
                        <td>OI</td>
                        <td>{{ order.prescription.near.leftEye.spherical }}</td>
                        <td>
                          {{ order.prescription.near.leftEye.cylindrical }}
                        </td>
                        <td>{{ order.prescription.near.leftEye.axis }}</td>
                        <td>
                          {{ order.prescription.near.leftEye.pupilHeight }}
                        </td>
                        <td>
                          {{ order.prescription.near.leftEye.pupilDistance }}
                        </td>
                      </tr>
                    }
                    @if (addition.value !== 0) {
                      <tr>
                        <td rowspan="2">Adición</td>
                        <td>OD</td>
                        <td>{{ addition.value }}</td>
                      </tr>
                      <tr>
                        <td>OI</td>
                        <td>{{ addition.value }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              }
            </div>
          </section>
        }

        <section class="receipt__articles-list">
          <table class="receipt__articles-list__table">
            <thead>
              <tr>
                <th>ARTICULO</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
              </tr>
            </thead>
            <tbody>
              @for (entry of orderForm.get("articles")!.value; track $index) {
                <tr>
                  <td>
                    @if (entry.article.name !== "-") {
                      {{ entry.article.name }}
                    } @else {
                      {{ entry.article.model }} {{ entry.article.brand }}
                      {{ entry.article.style }}
                    }
                  </td>
                  <td>
                    {{ entry.article.price }}
                  </td>
                  <td>{{ entry.quantity }}</td>
                </tr>
              }
              @for (order of subOrders; track $index) {
                @for (entry of order.articles; track $index) {
                  <tr>
                    <td>
                      @if (entry.article.name !== "-") {
                        {{ entry.article.name }}
                      } @else {
                        {{ entry.article.model }} {{ entry.article.brand }}
                        {{ entry.article.style }}
                      }
                    </td>
                    <td>
                      {{ entry.article.price }}
                    </td>
                    <td>{{ entry.quantity }}</td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </section>
        <section class="receipt__final-summary">
          <div class="receipt__row">
            <span>SUBTOTAL $</span>
            <span>{{ this.orderForm.get("cost")?.value }}</span>
          </div>
          <div class="receipt__row">
            <span>DESCUENTO $</span>
            <span>{{ this.orderForm.get("discount")?.value }}</span>
          </div>
          <div class="receipt__row">
            <span>{{ formatBenefits(appliedBenefits) }} $ </span>
            <span>
              {{ getTotalDiscountedValue(appliedBenefits) }}
            </span>
          </div>
          <div class="receipt__row">
            <span>TOTAL $</span>
            <span>{{ this.orderForm.get("total")?.value }}</span>
          </div>
          <div class="receipt__row">
            <span>SEÑA $</span>
            <span>{{ this.orderForm.get("deposit")?.value }}</span>
          </div>
          <div class="receipt__row">
            <span>SALDO $</span>
            <span>{{ this.orderForm.get("balance")?.value }}</span>
          </div>
        </section>
      </div>
      @if (i !== 1) {
        <div class="page-break">&nbsp;</div>
      }
    </ng-container>
  </div>
</modal>
