@if (showModal) {
  <div class="modal">
    <div
      class="modal__content"
      [@zoomOut]="{
        value: showModal,
        params: {
          duration: 250,
        },
      }"
    >
      <header class="modal__content__header">
        @if (!printableOrder) {
          @if (!benefitModal) {
            <select (change)="onChange($event)">
              <option value="">Tipo de venta</option>
              @for (saleType of saleTypes; track $index) {
                <option [value]="saleType.value">{{ saleType.display }}</option>
              }
            </select>
          }
        } @else {
          <button
            class="print-btn"
            [previewOnly]="false"
            [useExistingCss]="true"
            [printSectionId]="'print'"
            [openNewTab]="true"
            [printTitle]="''"
            ngxPrint
            (click)="showModal = false"
          >
            <svg width="24" height="24">
              <use xlink:href="../../../assets/icons/icons.svg#print"></use>
            </svg>
          </button>
        }

        <button (click)="cancel()">
          <svg width="24" height="24">
            <use xlink:href="../../../../assets/icons/icons.svg#cancel"></use>
          </svg>
        </button>
      </header>
      <main class="modal__content__main">
        <ng-content></ng-content>
      </main>
    </div>
  </div>
}
