@if (!isHidden) {
  <header>
    <div class="header-logo">
      <img [src]="logoSrc" />
    </div>
    @if (!isLogin) {
      <div class="header-user">
        <div class="header-user__details">
          <span>{{ user?.username || "" }}</span>
          <span>{{ user?.privilege ? toTitleCase(user.privilege) : "" }}</span>
        </div>
        <div class="header-user__avatar">
          <img
            [src]="
              user.profilePicture
                ? user.profilePicture
                : '../../../assets/images/default-avatar.webp'
            "
            alt=""
          />
        </div>
        <div class="header-user__logout-wrapper">
          <button (click)="doLogout()">
            <svg width="24" height="24">
              <use xlink:href="../../../assets/icons/icons.svg#logout"></use>
            </svg>
          </button>
        </div>
      </div>
    }
  </header>
}
