<div class="login-container">
  <div class="login-container__login-wrapper">
    <h2>Iniciar sesión</h2>
    <form [formGroup]="loginForm">
      <div class="login-container__login-wrapper__input-wrapper">
        <div>
          <svg width="24" height="24">
            <use xlink:href="../../../assets/icons/icons.svg#user"></use>
          </svg>
        </div>
        <input
          type="text"
          placeholder="Correo / Usuario"
          formControlName="identifier"
        />
      </div>
      <div class="login-container__login-wrapper__input-wrapper">
        <div>
          <svg width="24" height="24">
            <use xlink:href="../../../assets/icons/icons.svg#lock"></use>
          </svg>
        </div>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          formControlName="password"
        />
        <button class="password-visibility" (click)="togglePassword()">
          <svg width="24" height="24">
            <use
              [attr.xlink:href]="
                showPassword
                  ? '../../../assets/icons/icons.svg#show'
                  : '../../../assets/icons/icons.svg#hide'
              "
            ></use>
          </svg>
        </button>
      </div>
    </form>
    <button (click)="doLogin()">Iniciar sesión</button>
  </div>
</div>
