.select-container {
  width: 100%;
  position: relative;
  font-family: Inter, Arial;
  user-select: none;
  -moz-user-select: none;

  .select-box {
    width: 100%;
    user-select: none;
    cursor: pointer;

    input {
      width: 100%;
    }

    .default {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;
      padding: 5px;
      border: none;
      color: #5f5f5f;
      background-color: #e8e8e8;
      border-radius: 3px;
    }
  }

  .dropdown {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    background-color: #e8e8e8;
    border-radius: 3px;
    z-index: 100;

    .options-list {
      max-height: 60px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #5f5f5f;
      }

      &::-webkit-scrollbar-track {
        background-color: #969696;
      }
    }

    .option {
      color: #5f5f5f;
      padding: 5px;

      &:first-of-type {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &:last-of-type {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      &:hover {
        color: #ffffff;
        background-color: #1668cf;
      }
    }
  }
}

span {
  font-size: 14px;
}

svg {
  margin-right: -8px;
}
