<div class="select-container">
  <div class="select-box">
    @if (searchControl.untouched) {
      <div class="default" (click)="handleDropdown()">
        <span>
          {{ getDisplayText(control.value) || "Selecciona un articulo" }}</span
        >
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#dropdown"></use>
        </svg>
      </div>
    } @else {
      <input
        type="text"
        placeholder="Buscar..."
        [formControl]="searchControl"
        class="search-bar"
      />
    }
  </div>

  @if (isDropdownOpen) {
    <div class="dropdown">
      <div class="options-list" (scroll)="onScroll($event)">
        <div class="option" (click)="reset()">-</div>
        @for (article of articles; track $index) {
          <div class="option" (click)="selectOption(article)">
            {{ getDisplayText(article) }}
          </div>
        }
      </div>
    </div>
  }
</div>
