<div class="home-container">
  <div class="home-container__actions">
    <h2>Dashboard</h2>
    <input type="text" placeholder="Buscar ordenes " #searchInput />
    <button routerLink="/orders">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#noteStack"></use>
      </svg>
      Crear orden
    </button>
  </div>
  <div class="home-container__kanban" cdkDropListGroup>
    <div
      class="home-container__kanban__registered"
      cdkDropList
      #registeredList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="registered"
      id="registered"
    >
      <div class="home-container__kanban__registered__header">
        <span>Ingresado</span>
        <span>{{ registered.length }}</span>
        <button (click)="toggleFilter('registered')">
          <svg width="24" height="24">
            <use xlink:href="../../../assets/icons/icons.svg#filter"></use>
          </svg>
          <span class="filter-indicator">
            {{ filterStates.registered.showRecent ? "↓" : "↑" }}
          </span>
        </button>
      </div>
      @if (registered.length === 0) {
        <div class="home-container__kanban__empty-state">
          <p [style.color]="'#4d98f6'">No hay órdenes ingresadas</p>
        </div>
      } @else {
        @for (item of registered; track item.id) {
          <div class="home-container__kanban__registered__item" cdkDrag>
            <div class="home-container__kanban__registered__item__left-half">
              <h2>{{ item.clientName }}</h2>
              <p>doc: {{ item.document }}</p>
              <p>id: {{ item.orderNumber }}</p>
            </div>
            <div class="home-container__kanban__registered__item__right-half">
              <p>
                {{ formatTimeDifference(item.date) }}
              </p>
              <button (click)="onEditOrder(item.id)">
                <svg width="24" height="24">
                  <use xlink:href="../../../assets/icons/icons.svg#edit"></use>
                </svg>
              </button>
              <button (click)="onDeleteOrder(item.id, 'registered')">
                <svg width="24" height="24">
                  <use
                    xlink:href="../../../assets/icons/icons.svg#delete"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        }
      }
    </div>
    <div
      class="home-container__kanban__in-course"
      cdkDropList
      #inCourseList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="inCourse"
      id="inCourse"
    >
      <div class="home-container__kanban__in-course__header">
        <span>En curso</span>
        <span>{{ inCourse.length }}</span>
        <button (click)="toggleFilter('inCourse')">
          <svg width="24" height="24">
            <use xlink:href="../../../assets/icons/icons.svg#filter"></use>
          </svg>
          <span class="filter-indicator">
            {{ filterStates.inCourse.showRecent ? "↓" : "↑" }}
          </span>
        </button>
      </div>
      @if (inCourse.length === 0) {
        <div class="home-container__kanban__empty-state">
          <p [style.color]="'#f6a338'">No hay órdenes en curso</p>
        </div>
      } @else {
        @for (item of inCourse; track item.id) {
          <div class="home-container__kanban__in-course__item" cdkDrag>
            <div class="home-container__kanban__in-course__item__left-half">
              <h2>{{ item.clientName }}</h2>
              <p>doc: {{ item.document }}</p>
              <p>id: {{ item.orderNumber }}</p>
            </div>
            <div class="home-container__kanban__in-course__item__right-half">
              <p>
                {{ formatTimeDifference(item.date) }}
              </p>
              <button (click)="onEditOrder(item.id)">
                <svg width="24" height="24">
                  <use xlink:href="../../../assets/icons/icons.svg#edit"></use>
                </svg>
              </button>
              <button (click)="onDeleteOrder(item.id, 'in-course')">
                <svg width="24" height="24">
                  <use
                    xlink:href="../../../assets/icons/icons.svg#delete"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        }
      }
    </div>
    <div
      class="home-container__kanban__finalized"
      cdkDropList
      #finalizedList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="finished"
      id="finalized"
    >
      <div class="home-container__kanban__finalized__header">
        <span>Finalizado</span>
        <span>{{ finished.length }}</span>
        <button (click)="toggleFilter('finished')">
          <svg width="24" height="24">
            <use xlink:href="../../../assets/icons/icons.svg#filter"></use>
          </svg>
          <span class="filter-indicator">
            {{ filterStates.finished.showRecent ? "↓" : "↑" }}
          </span>
        </button>
      </div>
      @if (finished.length === 0) {
        <div class="home-container__kanban__empty-state">
          <p [style.color]="'#70d870'">No hay órdenes finalizadas</p>
        </div>
      } @else {
        @for (item of finished; track item.id) {
          <div class="home-container__kanban__finalized__item" cdkDrag>
            <div class="home-container__kanban__finalized__item__left-half">
              <h2>{{ item.clientName }}</h2>
              <p>doc: {{ item.document }}</p>
              <p>id: {{ item.orderNumber }}</p>
            </div>
            <div class="home-container__kanban__finalized__item__right-half">
              <p>
                {{ formatTimeDifference(item.date) }}
              </p>
              <button (click)="onEditOrder(item.id)">
                <svg width="24" height="24">
                  <use xlink:href="../../../assets/icons/icons.svg#edit"></use>
                </svg>
              </button>
              <button (click)="onDeleteOrder(item.id, 'finished')">
                <svg width="24" height="24">
                  <use
                    xlink:href="../../../assets/icons/icons.svg#delete"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        }
      }
    </div>
    <div
      class="home-container__kanban__delivered"
      cdkDropList
      #deliveredList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="delivered"
      id="delivered"
    >
      <div class="home-container__kanban__delivered__header">
        <span>Entregado</span>
        <span>{{ delivered.length }}</span>
        <button (click)="toggleFilter('delivered')">
          <svg width="24" height="24">
            <use xlink:href="../../../assets/icons/icons.svg#filter"></use>
          </svg>
          <span class="filter-indicator">
            {{ filterStates.delivered.showRecent ? "↓" : "↑" }}
          </span>
        </button>
      </div>
      @if (delivered.length === 0) {
        <div class="home-container__kanban__empty-state">
          <p [style.color]="'#aa7ec8'">No hay órdenes entregadas</p>
        </div>
      } @else {
        @for (item of delivered; track item.id) {
          <div class="home-container__kanban__delivered__item" cdkDrag>
            <div class="home-container__kanban__delivered__item__left-half">
              <h2>{{ item.clientName }}</h2>
              <p>doc: {{ item.document }}</p>
              <p>id: {{ item.orderNumber }}</p>
            </div>
            <div class="home-container__kanban__delivered__item__right-half">
              <p>
                {{ formatTimeDifference(item.date) }}
              </p>
              <button (click)="onEditOrder(item.id)">
                <svg width="24" height="24">
                  <use xlink:href="../../../assets/icons/icons.svg#edit"></use>
                </svg>
              </button>
              <button (click)="onDeleteOrder(item.id, 'delivered')">
                <svg width="24" height="24">
                  <use
                    xlink:href="../../../assets/icons/icons.svg#delete"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
