* {
  ::-webkit-scrollbar {
    display: none;
  }
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &__actions {
    display: flex;
    width: calc(100% - 50px);
    margin: 30px 0 10px;
    gap: 15px;

    h2 {
      margin: 0;
      font-family: Nunito;
    }

    input {
      width: 25%;
      background-color: #ffffff;
      padding-left: 15px;
      border: 1px solid #8d8d8d;

      outline: none;
      color: #5f5f5f;
      font-family: Inter, Arial;
      height: 35px;
      transition: all 0.2s ease;

      &:focus {
        border-color: #4d98f6;
        box-shadow: 0 0 0 2px rgba(77, 152, 246, 0.2);
      }

      &:disabled {
        border-color: #cfcfcf;
        background-color: #bfbdbd;
        cursor: not-allowed;

        &::placeholder {
          color: #ffffff;
        }
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      background-color: #da5656;
      margin-left: auto;
      padding: 10px 20px;
      border: none;

      color: #ffffff;
      font-family: Inter;
      font-size: 16px;
      transition: background-color 0.15s ease-out;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }

      &:hover {
        background-color: #e89595;
      }
    }
  }

  &__kanban {
    width: 100%;
    height: 100%;
    user-select: none;
    -moz-user-select: none;

    &__empty-state {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100%;

      p {
        font-family: Inter, Arial;
      }
    }

    @media (width < 1440px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, calc(50% - 45px));
      gap: 15px;
      padding: 15px;
    }

    @media (1440px <= width) {
      display: flex;
      justify-content: space-around;

      &__registered,
      &__in-course,
      &__finalized,
      &__delivered {
        width: calc(25% - 50px);
        height: calc(100dvh - 175px);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    }

    @mixin state-section(
      $bg-color,
      $header-bg-color,
      $header-text-color,
      $header-button-color,
      $item-bg-color
    ) {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      gap: 15px;
      background-color: $bg-color;
      padding: 0px 15px 15px 15px;

      .cdk-drag-placeholder {
        opacity: 0.8;
        background-color: $item-bg-color;
      }

      &__header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: $header-bg-color;
        position: sticky;
        top: 0;
        z-index: 10;
        padding-top: 15px;
        padding-bottom: 5px;

        span {
          color: #ffffff;
          font-family: Poppins;
          padding: 5px 8px;
          background-color: $header-button-color;

          &:last-of-type {
            margin-left: 10px;
          }
        }

        button {
          margin-left: auto;
          border: none;
          background-color: transparent;
          color: $header-button-color;
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 5px;

          transition: background-color 0.15s ease-out;

          &:hover {
            background-color: rgba($header-button-color, 0.1);
          }

          svg {
            width: 24px;
            height: 24px;
          }

          .filter-indicator {
            background: none;
            padding: 0;
            margin-left: 2px;
            font-weight: bold;
          }
        }
      }

      &__item {
        display: flex;
        background-color: $item-bg-color;
        padding: 15px;
        user-select: none;
        transition: box-shadow 0.15s ease-in-out;
        cursor: grab;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        &__left-half {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          h2 {
            font-family: Inter;
            font-size: 18px;
            color: #ffffff;
            margin: 0;
          }

          p {
            font-family: Inter;
            font-size: 16px;
            color: #ffffff;
            margin: 0;
          }
        }

        &__right-half {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          gap: 5px;

          p {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 300;
            color: #ffffff;
            text-align: right;
          }

          button {
            width: fit-content;
            height: fit-content;
            background-color: transparent;
            border: none;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }

    &__registered {
      @include state-section(#aed0fb, #aed0fb, #ffffff, #4d98f6, #7eb4f8);
    }

    &__in-course {
      @include state-section(#fbdbb2, #fbdbb2, #ffffff, #f6a338, #ffc57a);
    }

    &__finalized {
      @include state-section(#bbf2bb, #bbf2bb, #ffffff, #70d870, #98e398);
    }

    &__delivered {
      @include state-section(#d9c6e6, #d9c6e6, #ffffff, #aa7ec8, #c2a2d7);
    }
  }
}

.cdk-drag-preview {
  opacity: 0.8;
  box-shadow: 0 5px 15px #00000033;
}

.cdk-drag-animating {
  transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  .cdk-drag {
    transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1);
  }
  cursor: grabbing;
}
