@if (!isHidden) {
  <aside>
    <a routerLink="home" routerLinkActive="active-link">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#home"></use>
      </svg>
      Inicio
    </a>
    <a routerLink="orders" routerLinkActive="active-link">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#order"></use>
      </svg>
      Ordenes
    </a>
    <a routerLink="inventory" routerLinkActive="active-link">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#inventory"></use>
      </svg>
      Inventario
    </a>
    <a routerLink="billing" routerLinkActive="active-link">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#billing"></use>
      </svg>
      Facturación
    </a>
    <a routerLink="statistics" routerLinkActive="active-link">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#analytics"></use>
      </svg>
      Estadísticas
    </a>
    <a routerLinkActive="active-link">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#accounting"></use>
      </svg>
      Contabilidad
    </a>
    <a routerLink="administrate" routerLinkActive="active-link">
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#admin"></use>
      </svg>
      Administrar
    </a>
  </aside>
}
