<div class="not-found-container">
  <div class="not-found-container__inner-wrapper">
    <div>
      <span>4</span>
      <svg width="24" height="24">
        <use xlink:href="../../../assets/icons/icons.svg#warning-alter"></use>
      </svg>
      <span [ngStyle]="{ transform: 'scaleX(-1)', display: 'inline-block' }"
        >4</span
      >
    </div>
    <h2>¡Ups! Parece que estas perdido.</h2>
    <p>La pagina que buscas no fue encontrada.</p>
    <button routerLink="/home">Volver a inicio</button>
  </div>
</div>
