<div class="inventory" #scrollContainer>
  <header class="inventory__header">
    <h2>Inventario</h2>
    <div class="inventory__header__btn-wrapper">
      <input
        type="text"
        placeholder="Buscar articulo..."
        (keyup)="onSearch()"
        #searchInput
      />
      <button
        (click)="onToggleFilters()"
        [disabled]="items.length === 0"
        [style]="items.length === 0 ? disabledStyle : null"
      >
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#filter"></use>
        </svg>
        <span>Filtrar</span>
      </button>
      <button (click)="togglePricePanel()">
        <svg width="24" height="24">
          <use xlink:href="../../../assets/icons/icons.svg#edit"></use>
        </svg>
        <span>Precios</span>
      </button>
      <button (click)="handleNewArticle()">
        <svg width="24" height="24">
          <use
            [attr.xlink:href]="
              screenWidth > 1024
                ? '../../../assets/icons/icons.svg#addBox'
                : '../../../assets/icons/icons.svg#article'
            "
          ></use>
        </svg>
        <span>Articulo</span>
      </button>
      <button [style]="disabledStyle">
        <svg width="24" height="24">
          <use
            [attr.xlink:href]="
              screenWidth > 1024
                ? '../../../assets/icons/icons.svg#addBox'
                : '../../../assets/icons/icons.svg#category'
            "
          ></use>
        </svg>
        <span>Familia</span>
      </button>
      <button [style]="disabledStyle">
        <svg width="24" height="24">
          <use
            [attr.xlink:href]="
              screenWidth > 1024
                ? '../../../assets/icons/icons.svg#addBox'
                : '../../../assets/icons/icons.svg#feature'
            "
          ></use>
        </svg>
        <span>Característica</span>
      </button>
    </div>
  </header>
  <section class="inventory__content">
    @if (showPricePanel) {
      <div
        [@expandOnEnter]
        [@collapseOnLeave]
        class="inventory__content__price-panel"
      >
        <div
          class="inventory__content__price-panel__div"
          [formGroup]="priceForm"
        >
          <div class="price-column">
            <label>Modelo, Estilo o Nombre</label>
            <input
              type="text"
              placeholder="Ingrese modelo, estilo o marca"
              formControlName="modelStyleBrand"
            />
          </div>
          <div class="price-column">
            <label>Precio Nuevo</label>
            <input
              type="number"
              placeholder="Ingrese precio nuevo"
              min="0"
              formControlName="newPrice"
            />
          </div>
          <div class="price-actions">
            <button
              (click)="updatePrices()"
              class="apply-button"
              [disabled]="priceForm.invalid"
            >
              Aplicar Cambios
            </button>
            <button (click)="togglePricePanel()" class="cancel-button">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    }

    @if (isFilter) {
      <div
        [@expandOnEnter]
        [@collapseOnLeave]
        class="inventory__content__filters-panel"
      >
        <div
          class="inventory__content__filters-panel__div"
          [formGroup]="filtersForm"
        >
          <div class="filter-column">
            <label>Tipo de cristal</label>
            <select formControlName="lensType" (change)="onFilterChange()">
              <option value="">Todos los cristales</option>
              @for (type of lensTypes; track $index) {
                <option [value]="type">{{ type }}</option>
              }
            </select>
          </div>
          <div class="filter-column">
            <label>Origen</label>
            <select formControlName="productOrigin" (change)="onFilterChange()">
              <option value="">Todos los orígenes</option>
              @for (origin of productsOrigin; track $index) {
                <option [value]="origin">{{ origin }}</option>
              }
            </select>
          </div>
          <div class="filter-column">
            <label>Moneda</label>
            <select formControlName="currency" (change)="onFilterChange()">
              <option value="">Todas las monedas</option>
              @for (currency of currencies; track $index) {
                <option [value]="currency">
                  {{ currency }}
                </option>
              }
            </select>
          </div>
        </div>
      </div>
    }

    @if (items.length > 0) {
      @if (this.screenWidth > 1024) {
        <form
          class="inventory__content__table-container"
          [formGroup]="editForm"
        >
          <table>
            <caption>
              {{
                selectedItems
              }}
              items seleccionados

              @if (selectedItems > 0) {
                <button @fadeIn (click)="handleDelete('multiple')">
                  Eliminar seleccionados
                </button>
              }
            </caption>
            <thead>
              <tr>
                <th>
                  <checkbox
                    class="checkbox"
                    [checked]="isAllSelected"
                    (checkedChange)="onSelectAll()"
                  ></checkbox>
                </th>
                <th>Modelo</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Estilo</th>
                <th>Lentes de sol</th>
                <th>Aplica a</th>
                <th>Tipo de cristal</th>
                <th>Origen</th>
                <th>Precio</th>
                <th>Moneda</th>
                <th>Stock</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody formArrayName="itemsForm">
              @for (item of items; track $index) {
                <tr [formGroupName]="$index">
                  <td>
                    <checkbox
                      class="checkbox"
                      [(checked)]="item.selected"
                    ></checkbox>
                  </td>

                  @if (!item.isEdit) {
                    <td>{{ item.model }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.style }}</td>

                    @if (item.isSunglasses !== "-") {
                      <td>
                        <checkbox
                          class="checkbox"
                          [checked]="toBoolean(item.isSunglasses)"
                          (checkedChange)="(item.isSunglasses)"
                          [disabled]="true"
                          [alt]="true"
                        ></checkbox>
                      </td>
                    } @else {
                      <td>{{ item.isSunglasses }}</td>
                    }

                    @if (item.appliesTo !== "-") {
                      <td>{{ getDisplayByUrlKey(item.appliesTo) }}</td>
                    } @else {
                      <td>-</td>
                    }

                    <td>
                      @if (item.lensType !== "-") {
                        <p>{{ item.lensType }}</p>
                      } @else {
                        {{ item.lensType }}
                      }
                    </td>
                    <td>
                      @if (item.origin !== "-") {
                        <p>{{ item.origin }}</p>
                      } @else {
                        {{ item.origin }}
                      }
                    </td>
                    <td>{{ item.price }}</td>
                    <td>
                      @if (item.currency !== "-") {
                        <p>{{ item.currency }}</p>
                      } @else {
                        {{ item.currency }}
                      }
                    </td>
                    <td>{{ item.stock }}</td>

                    <td class="has-button">
                      <button
                        (click)="onToggleEditItem(item)"
                        [style.backgroundColor]="'#2e7fcf'"
                      >
                        <svg width="24" height="24">
                          <use
                            xlink:href="../../../assets/icons/icons.svg#edit"
                          ></use>
                        </svg>
                      </button>
                      <button
                        (click)="handleDelete('single', item)"
                        [style.backgroundColor]="'#da5656'"
                      >
                        <svg width="24" height="24">
                          <use
                            xlink:href="../../../assets/icons/icons.svg#delete"
                          ></use>
                        </svg>
                      </button>
                    </td>
                  } @else {
                    @if (item.model !== "-") {
                      <td>
                        <input type="text" formControlName="model" />
                      </td>
                    } @else {
                      <td>{{ item.model }}</td>
                    }
                    @if (item.name !== "-") {
                      <td>
                        <input type="text" formControlName="name" />
                      </td>
                    } @else {
                      <td>{{ item.name }}</td>
                    }
                    @if (item.brand !== "-") {
                      <td><input type="text" formControlName="brand" /></td>
                    } @else {
                      <td>{{ item.brand }}</td>
                    }
                    @if (item.style !== "-") {
                      <td><input type="text" formControlName="style" /></td>
                    } @else {
                      <td>{{ item.style }}</td>
                    }
                    @if (item.isSunglasses !== "-") {
                      <td>
                        <checkbox
                          class="checkbox"
                          [checked]="toBoolean(item.isSunglasses)"
                          (checkedChange)="onCheckedEdit($index, $event)"
                          [alt]="true"
                        ></checkbox>
                      </td>
                    } @else {
                      <td>{{ item.isSunglasses }}</td>
                    }
                    @if (item.appliesTo !== "-") {
                      <td>
                        <select formControlName="appliesTo">
                          @for (type of articleTypes; track $index) {
                            <option [value]="type.urlKey">
                              {{ type.display }}
                            </option>
                          }
                        </select>
                      </td>
                    } @else {
                      <td>{{ item.appliesTo }}</td>
                    }
                    @if (item.lensType !== "-") {
                      <td>
                        <select formControlName="lensType">
                          @for (lensType of lensTypes; track $index) {
                            <option [value]="lensType">
                              {{ lensType }}
                            </option>
                          }
                        </select>
                      </td>
                    } @else {
                      <td>{{ item.lensType }}</td>
                    }
                    @if (item.origin !== "-") {
                      <td>
                        <select formControlName="origin">
                          @for (productOrigin of productsOrigin; track $index) {
                            <option [value]="productOrigin">
                              {{ productOrigin }}
                            </option>
                          }
                        </select>
                      </td>
                    } @else {
                      <td>{{ item.origin }}</td>
                    }
                    <td>
                      <input type="number" formControlName="price" min="0" />
                    </td>
                    <td>
                      <select formControlName="currency">
                        @for (currency of currencies; track $index) {
                          <option [value]="currency">
                            {{ currency }}
                          </option>
                        }
                      </select>
                    </td>
                    <td>
                      <input type="number" formControlName="stock" min="0" />
                    </td>
                    <td class="has-button">
                      <button
                        (click)="onUpdateItem(item, $index)"
                        [style.backgroundColor]="'#32c832'"
                      >
                        <svg width="24" height="24">
                          <use
                            xlink:href="../../../assets/icons/icons.svg#success"
                          ></use>
                        </svg>
                      </button>
                      <button
                        (click)="onToggleEditItem(item)"
                        [style.backgroundColor]="'#da5656'"
                      >
                        <svg width="24" height="24">
                          <use
                            xlink:href="../../../assets/icons/icons.svg#cancel"
                          ></use>
                        </svg>
                      </button>
                    </td>
                  }
                </tr>
              }
            </tbody>
            <tfoot>
              <td colspan="13">
                <paginator
                  [totalItems]="totalArticles"
                  [pageSize]="pageSize"
                  [currentPage]="page"
                  (pageChange)="onPageChange($event)"
                ></paginator>
              </td>
            </tfoot>
          </table>
        </form>
      } @else {
        <div class="inventory__content__cards-header">
          <checkbox
            class="checkbox"
            [checked]="isAllSelected"
            (checkedChange)="onSelectAll()"
          ></checkbox>
          <h2>{{ selectedItems }} items seleccionados</h2>
        </div>
        <form
          class="inventory__content__cards-container"
          [formGroup]="editForm"
        >
          @for (item of items; track $index) {
            <div class="card">
              <header>
                <div class="left-half">
                  <checkbox
                    class="checkbox"
                    [(checked)]="item.selected"
                  ></checkbox>
                  @if (item.name !== "-") {
                    <h2>{{ item.name }}</h2>
                  } @else {
                    <h2>{{ item.model }}</h2>
                  }
                </div>
                <div class="right-half">
                  <div>
                    <h2>{{ item.price }} {{ item.currency }}</h2>
                  </div>
                  <div>
                    <h3>Stock: {{ item.stock }}</h3>
                  </div>
                </div>
              </header>
              <main>
                <p>Marca: {{ item.brand }}</p>
                <p>Estilo: {{ item.style }}</p>
                <p>Origen: {{ item.origin }}</p>
                <p>Tipo de cristal: {{ item.lensType }}</p>
                @if (item.isSunglasses !== "-") {
                  <p>
                    Lentes de sol:
                    <checkbox
                      class="checkbox"
                      [checked]="toBoolean(item.isSunglasses)"
                      [disabled]="true"
                      [alt]="true"
                    ></checkbox>
                  </p>
                }
              </main>
              <footer>
                @if (!item.isEdit) {
                  <button
                    (click)="onToggleEditItem(item)"
                    [style.backgroundColor]="'#2e7fcf'"
                  >
                    <svg width="24" height="24">
                      <use
                        xlink:href="../../../assets/icons/icons.svg#edit"
                      ></use>
                    </svg>
                  </button>
                  <button
                    (click)="handleDelete('single', item)"
                    [style.backgroundColor]="'#da5656'"
                  >
                    <svg width="24" height="24">
                      <use
                        xlink:href="../../../assets/icons/icons.svg#delete"
                      ></use>
                    </svg>
                  </button>
                } @else {
                  <button
                    (click)="onUpdateItem(item, $index)"
                    [style.backgroundColor]="'#2ecf2e'"
                  >
                    <svg width="24" height="24">
                      <use
                        xlink:href="../../../assets/icons/icons.svg#success"
                      ></use>
                    </svg>
                  </button>
                  <button
                    (click)="onToggleEditItem(item)"
                    [style.backgroundColor]="'#da5656'"
                  >
                    <svg width="24" height="24">
                      <use
                        xlink:href="../../../assets/icons/icons.svg#cancel"
                      ></use>
                    </svg>
                  </button>
                }
              </footer>
            </div>
          }
        </form>
        <div class="inventory__content__cards-footer">
          <paginator
            [totalItems]="totalArticles"
            [pageSize]="pageSize"
            [currentPage]="page"
            (pageChange)="onPageChange($event)"
          ></paginator>
        </div>
      }
    } @else {
      @if (searchInput && searchInput.value !== "") {
        <div class="no-coincidences">
          <h2>No se han encontrado coincidencias</h2>
        </div>
      } @else {
        <div class="empty-inventory">
          <svg width="24" height="24">
            <use xlink:href="../../../assets/icons/icons.svg#package"></use>
          </svg>
          <h2>No hay items en el inventario</h2>
          <p>Agrega algún item para comenzar</p>
        </div>
      }
    }
  </section>

  <confirm-modal
    [title]="'Confirmar eliminación'"
    [message]="
      '¿Estas seguro de que quieres eliminar esto? Esta acción no se puede deshacer.'
    "
    [cancelText]="'No, consérvalo'"
    [confirmText]="'Si, estoy seguro'"
    [showModal]="showModal"
    (closeModal)="handleCloseModal($event)"
  >
  </confirm-modal>
</div>
